@import "colors.scss";

#container {
    display: flex;
    align-items: center;
    height: 95vh;
    width: 98vw;
    justify-content: center;
    font-size: x-large;
}

#text {
    text-align: center;
}

#home-link:visited {
    color: $accent-color;
}
