@import "colors.scss";

#note {
    width: 80%;
    height: 500px;
    border: 1px solid $structure-color;
    padding: 10px;
    font-size: 16px;
    background-color: $bg-color;
    color: $text-color;
}

#note-save {
    padding: 10px;
    font-size: 16px;
    background-color: $accent-color;
    color: $bg-color;
    border: none;
    cursor: pointer;
}

#save-message {
    color: $success-text-color;
    padding-left: 10px;
}