@import "colors.scss";

#note {
    width: 100%;
    height: 500px;
    border: 1px solid $structure-color;
    padding: 10px;
    font-size: 16px;
    background-color: $bg-color;
    color: $text-color;
}
.editing {
    border: 25px solid darkgoldenrod !important;
}
.saving {
    border: 25px solid pink !important;
}
.saved {
    border: 25px solid green !important;
}
.error {
    border: 25px solid red !important;
}

#save-message {
    color: $success-text-color;
    padding-left: 10px;
}